.homeImage {
    padding-top: 25%;
    display: block;
    margin: 0 auto;
    height: width;
    width: 80%;
}

.standIn{
    display: block;
    margin: 0 auto;
	height: "75px";
	padding-top: "20px";
}