.nextButton {
    color: white;
    background-color: #222258;
    font-size: medium;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 25px;
    padding-left: 25px;
    cursor: pointer;
    position: relative;
    left: 3%;
}

.backButton {
    font-size: medium;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid black;
}

.navTitle {
    color: #222258;
    margin: 0;
    margin-left: 10%;
    
    text-align: center;
    justify-content: center;
}

.exitButton {
    float: right;
    font-size: small;
    color: black;
    background-color: white;
    border: none;
    margin: 0;
    margin-top: 5%;
}

.itemImage{
    height: 80px;
    width: 80px;
    padding-top: 17px;

}
.containerNavTitle {
    margin-top: 10px;
    float: none;
}

.containerItemDisplay {
    margin-top: 20px;
    border-radius: 10px;
    background-color: #F6F6F6;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    margin-left: 10%;
    width: 80%;
    display: inline-flex;
}

.containerDirections{
    text-align: center;
    font-size: x-large;
    border-radius: 10px;
    background-color: #F6F6F6;
width: 80%;
margin: 0 auto;
align-self: center;
}

.containerButtons {
    margin: 0 auto;
    margin-left: 25%;
}