.FAQ body {
    margin: 0;
    padding: 0;
}

.FAQ button:hover {
    cursor: pointer;
}

.FAQ .h1 {
    text-align: center;
}

.FAQ .h2 {
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px 10px;
    text-align: justify;
    background: #e8e8e8;
    border-radius: 15px;
    padding-bottom: 5px;
}

.FAQ .p {
    padding: 5px 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
    background: #f6f6f6;
    border-radius: 20px;
    font-weight: normal;
}

/* When screen is less than 650px, shrink the font size */
@media only screen and (max-width: 900px) {
    .FAQ .h1 {
        font-size: larger;
    }

    .FAQ .h2 {
        font-size: large;
        margin-left: 5px;
        margin-right: 5px;
    }

    .FAQ .p {
        font-size:medium;
    }
}