/* Name: Jeff Cho */
/* CSS for employee and user navigation */
.navigation {
	margin-top: 10%;
	height: 100%;
	width: 100%;
}
/* CSS FOR TOP */
.percent {
	color: #222258;
	font-family: Inter;
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 19px;

	margin-left: 15%;
}
.header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
}
.title {
	color: #222258;
	font-family: Inter;
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 19px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 3%;
	text-align: center;
	justify-content: center;
}
.Navigation .containerTop {
	color: black;
	font-size: xx-large;
	font-weight: bold;

	text-align: center;
	justify-content: center;
}
.exit {
	display: flex;
	justify-content: flex-end;
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	margin-right: 15%;
	line-height: 19px;
}
/* CSS FOR ITEMS DETAILS */
.itemContainer {
	display: flex;
	width: fit-content;
	height: fit-content;
	background: #f6f6f6;
	border-radius: 15px;
	margin-top: 10%;
	margin-left: 5%;
	margin-right: 5%;
	margin-left: 5%;
	padding-top: 20px;
	padding-bottom: 20px;
}
.itemContainer2 {
	background: #f6f6f6;
	align-content: center;
	justify-items: center;
	border-radius: 15px;
	margin-top: 10%;
	margin-left: 5%;
	margin-right: 5%;
	margin-left: 5%;
	height: 100px;
}
.itemDetails {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.itemName {
	font-family: Inter;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	padding-bottom: 2px;
}
.itemDepartment {
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	color: #838383;
	padding-bottom: 2px;
}
.stock {
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
	color: #f20707;
}
.itemCount {
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	margin-top: 5%;
}
.itemImage {
	width: 15%;
	height: auto;
	margin: 5%;
}
/* CSS FOR ITEM DIRECTIONS */
.containerDirections {
	background-color: #f6f6f6;
	width: 100%;
	line-height: 1;
	margin-top: 5%;
	padding-top: 5px;
	padding-left: 30px;
	border-radius: 10px;
}

.hugLeft {
	padding-left: 10%;
	text-align: left;
	font-weight: bold;
}
/* CSS FOR STATUS */
.containerStatus .outOfStockButton {
	margin-top: 5px;
	text-align: center;
	justify-content: center;
}
.outOfStockButton {
	font-weight: bold;
	color: red;
	background-color: white;
	font-size: medium;
	border-radius: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 20px;
	padding-left: 20px;
	cursor: pointer;
	left: 2%;
}

/* CSS FOR BUTTONS */
.containerBackNext {
	padding-top: 10%;
	height: 20%;
	text-align: center;
}

.nextButton {
	color: white;
	background-color: #222258;
	font-size: medium;
	border-radius: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 20px;
	padding-left: 20px;
	margin-left: 20px;
	cursor: pointer;
	left: 3%;
}

.endListText {
	font-family: Roboto;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 19px;

	text-align: center;
	vertical-align: middle;
	line-height: 90px;
}
.congratsContainer {
	display: flex;
	flex-direction: column;
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
}
.congratsText {
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
}
.congratsDescriptionTest {
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
}
.backButton {
	font-size: medium;
	background-color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
	cursor: pointer;
	border: 1px solid black;
}
@media only screen and (min-width: 900px) {
	.itemContainer {
		width: auto;
		margin-top: 5%;
		margin-left: 30%;
		margin-right: 30%;
	}
	.containerDirections {
		width: auto;
		margin-left: 30%;
		margin-right: 30%;
		padding-bottom: 1%;
		padding-left: 30px;
	}
}

@media only screen and (max-width: 900px) {
	.containerDirections {
		display: flex-column;
		width: 90%;
		height: fit-content;
		background-color: #f6f6f6;
		margin-top: 8%;
		margin-left: 5%;
		padding-bottom: 2%;
		border-radius: 10px;
	}

	.containerDirections .hugLeft {
		padding-left: 10%;
		text-align: left;
		font-weight: bold;
	}
}
@media only screen and (max-width: 320px) {
	.containerDirections {
		display: flex-column;
		width: 90%;
		height: fit-content;
		background-color: #f6f6f6;
		margin-top: 8%;
		margin-left: 5%;
		padding-bottom: 0.05%;
		border-radius: 10px;
	}

	.containerDirections .hugLeft {
		padding-left: 10%;
		font-size: 20px;
		text-align: left;
		font-weight: bold;
	}
	.containerBackNext {
		padding-top: 5%;
		height: 20%;
		text-align: center;
	}
}
