body {
   
}
.buttons {
    text-align: center;
    font-size: x-large;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid black;
    inline-size: fit-content;
    position: relative;
    left: 10%;
}

.modalButtons {
    text-align: center;
    font-size: x-large;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid black;
    inline-size: fit-content;
    position: relative;
}

/*.denyButton {
    text-align: center;
    font-size: large;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid black;
    inline-size: fit-content;
    position: relative;
    margin-right: 100px;
}*/

.title {
    text-align: center;
}

.text {
    position: relative;
    padding-left: 5%;
    display: flex;
    font-size: larger;
}
.textbox {
    position: relative;
    left: 10%;
    display: flex;
    font-size: inherit;
    border: 1px solid #E8E8E8;
    border-radius: 100px;
    padding: 10px;
    background: #F6F6F6;
    color: #bdbdbd;
    outline: none;
}
.error {
    padding-left: 10%;
    color: red;
    font-size: small;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* When screen is less than 700px, show the button and hide the links */
@media only screen and (max-width: 700px) {
    .buttons {
        text-align: center;
        font-size: large;
        background-color: white;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 25px;
        padding-right: 25px;
        border-radius: 10px;
        cursor: pointer;
        border: 1px solid black;
        inline-size: fit-content;
        position: relative;
        left: 10%;
        margin-bottom: 50px;
    }
    .textbox {
        position: relative;
        left: 10%;
        display: flex;
        font-size: large;
        color: #bdbdbd;
        outline: none;
    }
    .title {
        text-align: center;
        font-size: larger;
    }
    .text {
        position: relative;
        padding-left: 5%;
        display: flex;
        font-size: large;
    }

    .modalButtons {
        text-align: center;
        font-size: large;
        background-color: white;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 10px;
        cursor: pointer;
        border: 1px solid black;
        inline-size: fit-content;
        position: relative;
    }

    /*.denyButton {
        text-align: center;
        font-size: large;
        background-color: white;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 10px;
        cursor: pointer;
        border: 1px solid black;
        inline-size: fit-content;
        position: relative;
        margin-right: 10px;
    }*/
}
