/* CSS FOR TOP */
.containerTop {
    color: #222258;
    font-size: xx-large;
    font-weight: bold;

    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 3%;

    text-align: center;
    justify-content: center;
}

/* CSS FOR ITEM DIRECTIONS */
.containerDirections {
    background-color: #F6F6F6;
    font-size: large;
    width: 100%;
    line-height: 1;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.1%;
}

.containerDirections .hugLeft {
    padding-left: 10%;
    text-align: left;
    font-weight: bold;
}

.containerDirections .itemImage {
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media only screen and (max-width: 900px) {
    .containerDirections {
        background-color: #F6F6F6;
        font-size: small;
        width: 100%;
        line-height: 1;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0.1%;
    }

    .containerDirections .hugLeft {
        padding-left: 10%;
        text-align: left;
        font-weight: bold;
    }

    .containerDirections .itemImage {
        width: 40%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

/* CSS FOR STATUS */
.containerStatus {
    margin-top: 5px;
    text-align: center;
    justify-content: center;
}

.containerStatus .outOfStockButton {
    font-weight: bold;
    color: red;
    background-color: white;
    font-size: medium;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    cursor: pointer;
    left: 2%;
}

/* CSS FOR BUTTONS */
.containerBackNext {
    padding-bottom: 15px;
    text-align: center;
    justify-content: center;
    margin-right: 1.5%;
}

.containerBackNext .nextButton {
    color: white;
    background-color: #222258;
    font-size: medium;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 20px;
    cursor: pointer;
    left: 3%;
}

.containerBackNext .backButton {
    font-size: medium;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid black;
}