#Maven target
target/

# VSCode
.vscode/

# Eclipse generated
.apt_generated/
.settings/
.project
.classpath
.factorypath
MANIFEST.MF

# Zip files
*.zip

# IntelliJ generated
*.iml
.idea/

# MacOS system files
.DS_Store

# Asciidoc rendered
README.html

#Enviroment files
.env